{% style %}
  .custom-password-footer-section {
    position: relative;
    width: 100%;
    {% if section.settings.full_screen %}
      height: 100vh;
    {% else %}
      height: {{ section.settings.height }}px;
    {% endif %}
    background-color: transparent;
  }
  .custom-password-footer-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
  }
  
  @media screen and (max-width: 768px) {
    .custom-password-footer-section {
      {% if section.settings.full_screen %}
        height: 100vh;
      {% else %}
        height: {{ section.settings.height | divided_by: 2 | plus: 100 }}px;
      {% endif %}
    }
  }
{% endstyle %}

<div class="custom-password-footer-section">
  {% if section.settings.background_image %}
    <div class="custom-password-footer-bg" style="background-image: url('{{ section.settings.background_image | image_url: width: 2000 }}');"></div>
  {% else %}
    <div class="custom-password-footer-bg" style="background-color: #f4f4f4;"></div>
  {% endif %}
</div>

{% schema %}
{
  "name": "Custom Password Footer",
  "settings": [
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Lower Background Image",
      "info": "Image spanning the bottom of the page."
    },
    {
      "type": "checkbox",
      "id": "full_screen",
      "label": "Make image full screen (100vh)",
      "default": true
    },
    {
      "type": "range",
      "id": "height",
      "min": 200,
      "max": 1200,
      "step": 20,
      "unit": "px",
      "label": "Custom Height (if not full screen)",
      "default": 650
    }
  ],
  "presets": [
    {
      "name": "Custom Password Footer"
    }
  ]
}
{% endschema %}
