{% schema %}
{
  "name": "FAQ Page",
  "settings": [],
  "blocks": [
    {
      "type": "category",
      "name": "Category",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Category Title"
        }
      ]
    },
    {
      "type": "question",
      "name": "Question",
      "settings": [
        {
          "type": "text",
          "id": "question",
          "label": "Question"
        },
        {
          "type": "richtext",
          "id": "answer",
          "label": "Answer"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "FAQ Page"
    }
  ]
}
{% endschema %}

<div>
  <!-- FAQ Public Equity Section -->
  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when 'category' -%}
        <h3>{{ block.settings.title }}</h3>
      {%- when 'question' -%}
        <details>
          <summary>{{ block.settings.question }}</summary>
          <div>{{ block.settings.answer }}</div>
        </details>
    {%- endcase -%}
  {%- endfor -%}
</div>
